<form>
  <!--Text-->
  <fieldset>

    <legend>Datos del Usuario</legend>
    <div class="form-group row">
      <!--Etiqueta / Campo "Mombre"-->
      <label for="name" class="col-3">Nombre</label>
      <input type="text" class="form-control col-9" name="name" id="name" [(ngModel)]="ordenPrint.user.nombre" required placeholder="Indica tu nombre (es obligatorio)">
    </div>

    <div class="form-group row">
      <!--Etiqueta / Campo "Apellidos"-->
      <label for="lastname" class="col-3">Apellidos</label>
      <input type="text" class="form-control col-9" id="lastname" name="lastname" 
      [(ngModel)]="ordenPrint.user.apellidos" required 
      placeholder="Indica tu apellido (es obligatorio)">
    </div>
    <div class="form-group row">
      <!--Etiqueta / Campo "Telefono"-->
      <label for="phoneNumber" class="col-3">Teléfono</label>
      <input type="text" class="form-control col-9" 
        id="phoneNumber" 
        name="phoneNumber" 
        [(ngModel)]="ordenPrint.user.telefono"
        placeholder="Indica tu teléfono (es obligatorio)"
      >
    </div>
  </fieldset>

  <!--Radio-Buttos-->
  <fieldset class="form-group">
    <legend>Selecciona una Impresora</legend>
    <div class="form-check" *ngFor="let printer of aPrinters">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" 
          name="printer" 
          [id]="printer.id" 
          [value]="printer" 
          [(ngModel)]="ordenPrint.impresora"
        > {{printer.name}}
      </label>
    </div>
  </fieldset>
  
  <!--Checkbox-->
  <fieldset class="form-group">
    <legend>Seleción de opciones</legend>
    <div class="form-check">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" 
          id="color" 
          name="color" 
          [(ngModel)]="ordenPrint.isColor"
        > Imprimir en color
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" 
          id="tono" 
          name="tono" 
          [(ngModel)]="ordenPrint.isClara"
        > Tono claro
      </label>
    </div>
  </fieldset>
  
  <!--Select/options -->
  <fieldset class="form-group">
    <legend>Departamento</legend>
    <div class="form-group row">
      <select class="form-control" 
        id="select" 
        name="select" 
        [(ngModel)]="ordenPrint.dpto"
      >
        <option 
          *ngFor="let dpto of aDptos" 
          [ngValue]="dpto">{{dpto.name}}
        </option>

      </select>
    </div>
  </fieldset>

  <div class="form-group row">
    <button type="submit" class="btn btn-primary mr-2">
      Enviar</button>
    <button type="button" class="btn btn-primary">
      Borrar</button>
  </div>
</form>

<pre>
  {{ ordenPrint | json }}
</pre>