<div class="card">
  <div class="card-header">
    <h4 class="card-title">Hijo</h4>
  </div>
  <div class="card-body">
    <div class="form-group">
      <label for="nombre">Nombre que quiero</label>
      <input type="text" name="nombre" id="nombre" class="form-control" 
      aria-describedby="helpId" [(ngModel)]="miNombre">
    </div>

    <button type="button" name="" id="" class="btn btn-primary" 
    (click)="btnOdiar()">No me gusta {{ nombreHijo }}, quiero {{ miNombre }}</button>

  </div>
  <div class="card-footer text-muted">
    Me llamo {{ nombreHijo }}
  </div>
</div>