<div class="card">
  <div class="card-header">
    <h4 class="card-title">Title</h4>
  </div>
  <div class="card-body">
    <div class="form-group">
      <label for="Tarea">Añade una tarea</label>
      <input type="text" class="form-control" name="tarea" id="tarea" [(ngModel)]="sTarea">
    </div>
    <button type="button" class="btn btn-primary" (click)="addTarea()">Añadir</button>
  </div>
  <div class="card-footer text-muted">
    <h4>Lista de tareas</h4>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let tarea of aTareas">{{tarea}}</li>
    </ul>
  </div>
</div>