<div class="card">
  <div class="card-header">
    <h4 class="card-title">Búsqueda en un Mock</h4>
  </div>
  <div class="card-body">
    <div class="form-group">
      <label for="clave">Clave de búsqueda</label>
      <input type="text" name="clave" id="clave" class="form-control" [(ngModel)]="clave">
    </div>
    <button type="button" name="borjita" class="btn btn-primary" role="button" (click)="buscar()">Buscar</button>
    <button type="button" name="borjitasync" class="btn btn-primary" role="button" (click)="buscarAsync()">Buscar Async</button>

  </div>
  <div class="card-footer text-muted">
    <p class="card-text"> Resultado </p>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let libro of aLibros">{{ libro }}</li>
    </ul>
  </div>
</div>